<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test Numbers</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/style.css">
	<link rel="stylesheet" href="/style-mobile.css">
	<script src="/script.js" defer></script>
</head>
<body>
	<div class="main">
		<div class="search">
			<input type="text" class="search-input" placeholder="What are you looking for?">
			<button class="searchButton">
				<i class="fa fa-search"></i>
			</button>
		</div>

		<div class="result">
			<!-- 7 element -->
			<a>
				<div class="result-child">

				</div>
			</a>
			<a>
				<div class="result-child">

				</div>
			</a>
			<a >
				<div class="result-child">

				</div>
			</a>
			<a>
				<div class="result-child">
					
				</div>
			</a>
			<a>
				<div class="result-child">
					
				</div>
			</a>
			<a>
				<div class="result-child">
					
				</div>
			</a>
			<a>
				<div class="result-child">
					
				</div>
			</a>
		</div>

		<!-- <div class="bottom">
			
		</div> -->
	</div>
		
</body>
</html>